html, body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;

}

.App {
  text-align: left;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #5c2e91;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subhead {
  font-size: calc(10px + 1vmin);
  font-weight: 400;
  color: white;
  margin: 0px 10px 20px 10px;
}

.App-link {
  color: #09d3ac;
}

.control-bar {
  background-color: #a92b31;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

.paragraph-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph-selector p {
  margin-right: 15px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ipsum-container {
  max-width: 700px;
  padding: 9px 25px;
  background-color: white;
  border-radius: 17px;
  margin: 25px 10px;
}

p::selection {
  color: white;
  background-color: #c6168d;
}